body {
  background-image: url("../img/quiz.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  /* display: flex;
  flex-direction: column;
  font-size: 20px; */
}

html, body {
  height: 100%;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
