@font-face {
  font-family: 'TheBlacklist';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/TheBlacklist.eot');
  src: local('TheBlacklist'), url('fonts/TheBlacklist.woff') format('woff'), url('fonts/TheBlacklist.ttf') format('truetype');
}

h1 {
  font-family: 'TheBlacklist';
}

#logout-btn {
  position: absolute;
  right: 16px;
}

.alert {
  text-align: center;
}

footer {
  text-align: center;
  font-weight: bold;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
